<div class="glavnaya-7 dark-block komplekt-5-video-instruction">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Инструкции по монтажу</h2>
    <div class="glavnaya-7__video-block">
      <div class="glavnaya-7__video-block-video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
      </div>
      <div class="glavnaya-7__video-block-title">Монтаж полного комплекта</div>
      <div class="glavnaya-7__video-block-time">12:44</div>
    </div>
    <div class="glavnaya-7__video-block">
      <div class="glavnaya-7__video-block-video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
      </div>
      <div class="glavnaya-7__video-block-title">Монтаж плёнки на стойки задних дверей</div>
      <div class="glavnaya-7__video-block-time">5:15</div>
    </div>
    <div class="glavnaya-7__video-block">
      <div class="glavnaya-7__video-block-video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
      </div>
      <div class="glavnaya-7__video-block-title">Монтаж плёнки на капот</div>
      <div class="glavnaya-7__video-block-time">1:57</div>
    </div>
    <div class="glavnaya-7__video-block">
      <div class="glavnaya-7__video-block-video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
      </div>
      <div class="glavnaya-7__video-block-title">Монтаж плёнки на капот</div>
      <div class="glavnaya-7__video-block-time">1:57</div>
    </div>
    <div class="glavnaya-7__video-block">
      <div class="glavnaya-7__video-block-video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
      </div>
      <div class="glavnaya-7__video-block-title">Монтаж плёнки на капот</div>
      <div class="glavnaya-7__video-block-time">1:57</div>
    </div>
    <div class="glavnaya-7__video-block">
      <div class="glavnaya-7__video-block-video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
      </div>
      <div class="glavnaya-7__video-block-title">Монтаж плёнки на капот</div>
      <div class="glavnaya-7__video-block-time">1:57</div>
    </div>
  </div>
</div>