<div class="glavnaya-7 dark-block komplekt-5-video-instruction">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Инструкции по монтажу</h2>
    <div class="glavnaya-7__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>  
    </div>
    <div class="glavnaya-7__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-7__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-7__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-7__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-7__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
  </div>
</div>