</main>
<footer class="footer">
  <div class="standart-container" data-showed-on-scroll>
    <nav class="footer__menu">
      <ul>
        <li><a href="#" class="set-min-interactive-size-bez-gap">Выбрать комплект</a></li>
        <li><a href="#" class="set-min-interactive-size-bez-gap">Инструкции</a></li>
        <li><a href="#" class="set-min-interactive-size-bez-gap">Доставка и оплата</a></li>
        <li><a href="#" class="set-min-interactive-size-bez-gap">О нас</a></li>
        <li><a href="#" class="set-min-interactive-size-bez-gap">Корзина</a></li>
      </ul>
    </nav>
    <a class="footer__logo set-min-interactive-size" href="/pages/glavnaya.html"><%- include('./../../blocks/images/images.ejs', {data:{type: "img", url:"~@footer-img/logo_footer.svg", pt:16.923,}})%></a>
    <div class="footer__marki">
      <ul>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Lada Vesta</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Nissan Qashqai</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Nissan Terrano</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Nissan X-Trail</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Volkswagen Polo</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Haval F7</a></li>
      </ul>
      <ul>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Hyundai Santa Fe</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Hyundai Solaris</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Kia Rio</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Lada Largus</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Lada Granta</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Все модели</a></li>
      </ul>
    </div>
    <div class="footer__socseti">
      <a class="set-min-interactive-size footer__socseti-img-wrap" href="#"><%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/instagram.svg",  pt:100,}})%></a>
      <a class="set-min-interactive-size footer__socseti-img-wrap" href="#"><%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/vk.svg",  pt:100,}})%></a>
      <a class="set-min-interactive-size footer__socseti-img-wrap" href="#"><%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/ok.svg",  pt:100,}})%></a>
      <a class="set-min-interactive-size footer__socseti-img-wrap" href="#"><%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/facebook.svg",  pt:100,}})%></a>
      <a class="set-min-interactive-size footer__socseti-img-wrap" href="#"><%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/telegram.svg",  pt:100,}})%></a>
      <a class="set-min-interactive-size footer__socseti-img-wrap" href="#"><%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/whatsapp.svg",  pt:100,}})%></a>
    </div>
    <div class="footer__company-info">
      <div class="footer__company-info-contacts">
        <a class="set-min-interactive-size-bez-gap" href="tel:+88000000000">8 (800) 000-00-00</a>
        <br>
        <a class="set-min-interactive-size-bez-gap" href="mailto:info@brontec.ru">info@brontec.ru</a>
      </div>
      <div class="footer__company-info-requisites">
        ООО «Бронтер» <br> Екатеринбург, Московская, стр. 214а <br> ИНН
        6671148937, ОГРН 1216600014839
      </div>
      <a class="footer__company-info-privacy-policy set-min-interactive-size" href="#">Политика конфиденциальности</a>
    </div>
    <div class="footer__payments-systems">
      <div class="footer__payments-systems-img-wrap set-min-interactive-size">
        <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/payment-mir.svg",  pt:100,}})%>
      </div>
      <div class="footer__payments-systems-img-wrap set-min-interactive-size">
        <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/payment-mastercard.svg",  pt:100,}})%>
      </div>
      <div class="footer__payments-systems-img-wrap set-min-interactive-size">
        <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@footer-img/payment-visa.svg",  pt:100,}})%>
      </div>
    </div>
  </div>
  <div class="footer__decoration">
    <div class="footer__decoration-top-line"></div>
    <div class="footer__decoration-bottom-line"></div>
    <div class="footer__decoration-left-line"></div>
    <div class="footer__decoration-right-line"></div>
    <div class="footer__decoration-top-circle"></div>
    <div class="footer__decoration-bottom-circle"></div>
  </div>
  <script>
    /*скрипт меняет высоту декорации футера в зависимости от размера экрана*/
    (() => {
      let recalkulate = () => {
        let f = d.getElementsByTagName('footer')[0],
          fd = f.querySelector('.footer__decoration'),
          fm = f.querySelector('.footer__menu'),
          fl = f.querySelector('.footer__logo');

        if (d.documentElement.clientWidth / parseFloat(w.getComputedStyle(d.documentElement).fontSize) < 40) {
          if (!fd.classList.contains('fd-small-height')) {
            fd.style.height = parseFloat(w.getComputedStyle(f).paddingTop) + parseFloat(w.getComputedStyle(fm).height) + parseFloat(w.getComputedStyle(fl).marginTop) + parseFloat(w.getComputedStyle(fl).height) + parseFloat(w.getComputedStyle(fl).marginBottom) + 'px';

            fd.classList.add('fd-small-height');
            fd.classList.remove('fd-full-height');
          }
        } else {
          if (!fd.classList.contains('fd-full-height')) {
            fd.style.height = '100%';

            fd.classList.remove('fd-small-height');
            fd.classList.add('fd-full-height');
          }
        }
      }
      recalkulate();
      w.addEventListener('resize', recalkulate);
    })();
  </script>
</footer>
<%- include('./../../blocks/scroll-to-top-button/scroll-to-top-button.ejs')%>

<script>
  /*подключаем при необходимости полифилы, а после их загрузки подключаем основной скрипт*/
  (async () => {
    /*данные о полифилах и их процессе загрузки*/
    GDS.polyfills = [{
        name: "IntersectionObserver",
        /*имя файла скрипта полифила*/
        nead_include: !('IntersectionObserver' in w) ||
          !('IntersectionObserverEntry' in w) ||
          !('intersectionRatio' in w.IntersectionObserverEntry.prototype) ||
          !('isIntersecting' in w.IntersectionObserverEntry.prototype),
        /*если условие true то полифил будет загружен*/
      },
      {
        name: "AbortController",
        nead_include: (typeof w.Request === 'function' && !w.Request.prototype.hasOwnProperty('signal')) || !w.AbortController,
      }
    ];

    let load_promise_list = [],
      /*будет сохранять примис загрузки для каждого нужного скрипта полифила и как только все промисы выполняться, т.е. все скрипты полифилов будут загружены мы начнём грузить основной скрипт*/
      wrap = d.createDocumentFragment(),
      body = d.body;

    GDS.polyfills.forEach(item => {
      if (!item.nead_include) return; /*если полифил не нужен*/

      let s = d.createElement("script");

      load_promise_list.push(new Promise(resolve => s.onload = () => resolve()));

      s.src = `http://localhost:3579/${item.name}.js`;

      wrap.append(s);
    });

    body.append(wrap);

    await Promise.all(load_promise_list); /*ждём загрузки всех полифилов*/

    /*после загрузки всех необходимых полифилов можно загружать основыне скрипты для сайта*/
    let main_s = d.createElement("script");
    main_s.src = "http://localhost:3579/main.js";

    body.append(main_s);
  })();
</script>
</body>

</html>