<footer class="col-12 plr-0">
    <div class="standart_container footer_wraper flex">
        <div class="foter_decoration">
            <div class="top_line"></div>
            <div class="bottom_line"></div>
            <div class="left_line"></div>
            <div class="right_line"></div>
            <div class="top_circle"></div>
            <div class="bottom_circle"></div>
        </div>
        <div class="footer_item flex col-12 col-sm-4">
            <nav class="menu_footer col-7 col-sm-12">
                <div class="menu_footer_link">
                    <a href="#">Выбрать комплект</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">Инструкции</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">Доставка и оплата</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">О нас</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">Корзина</a>
                </div>
            </nav>
            <div class="logo_footer col-7 col-md-6">
                <a href="#">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:16.95%;">
                        <img data-src="<%= base_url %>assets/img/footer/logo_footer.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer_item flex col-12 col-sm-4">
            <div class="select_model_page flex col-12">
                <div class="select_model_column col-6 col-sm-12 col-md-5">
                    <div><a href="#">Lada Vesta</a></div>
                    <div><a href="#">Nissan Qashqai</a></div>
                    <div><a href="#">Nissan Terrano</a></div>
                    <div><a href="#">Nissan X-Trail</a></div>
                    <div><a href="#">Volkswagen Polo</a></div>
                    <div><a href="#">Haval F7</a></div>
                </div>
                <div class="select_model_column col-6 col-sm-12 col-md-5">
                    <div><a href="#">Hyundai Santa Fe</a></div>
                    <div><a href="#">Hyundai Solaris</a></div>
                    <div><a href="#">Kia Rio</a></div>
                    <div><a href="#">Lada Largus</a></div>
                    <div><a href="#">Lada Granta</a></div>
                    <div><a href="#">Все модели</a></div>
                </div>
            </div>
            <div class="social_footer flex col-12 col-sm-8 col-md-10">
                <div class="img_social col-2 col-sm-4 col-md-2">
                    <a href="#">
                        <div class="icon-instagram"></div>
                    </a>
                </div>
                <div class="img_social col-2 col-sm-4 col-md-2">
                    <a href="#">
                        <div class="icon-vk"></div>
                    </a>
                </div>
                <div class="img_social col-2 col-sm-4 col-md-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="<%= base_url %>assets/img/footer/ok.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
                <div class="img_social col-2 col-sm-4 col-md-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="<%= base_url %>assets/img/footer/facebook.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
                <div class="img_social col-2 col-sm-4 col-md-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="<%= base_url %>assets/img/footer/telegram.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
                <div class="img_social col-2 col-sm-4 col-md-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="<%= base_url %>assets/img/footer/whatsapp.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer_item flex col-12 col-sm-4">
            <div class="info_footer col-12">
                <div class="phone_footer">
                    <a href="tel:+88000000000">8 (800) 000-00-00</a>
                </div>
                <div class="mail">
                    <a href="mailto:info@brontec.ru">info@brontec.ru</a>
                </div>
                <div class="organization_footer_info">ООО «Бронтер» <br> Екатеринбург, Московская, стр. 214а <br> ИНН
                    6671148937, ОГРН 1216600014839</div>
                <div class="politica_konf">
                    <a href="#">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="flex col-12">
                <div class="payment_sistem_img col-2">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                        <img data-src="<%= base_url %>assets/img/footer/payment_mir.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </div>
                <div class="payment_sistem_img col-2">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                        <img data-src="<%= base_url %>assets/img/footer/payment_mastercard.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </div>
                <div class="payment_sistem_img col-2">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                        <img data-src="<%= base_url %>assets/img/footer/payment_visa.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll_to_top_wrapper">
    <div class="icon_scrol_to_top_arrow">
        <div class="svg_wrapper">
            <svg>
                <use data-href="<?php echo $base_kit_svg_url ?>#icon_scrol_to_top_arrow" />
            </svg>
        </div>
    </div>
</div>
</body>

</html>