<div class="glavnaya-1 blue-block">
  <div class="standart-container">
    <div class="glavnaya-1__first-part" data-showed-on-scroll>
      <div class="glavnaya-1__first-part-car-img-wrap">
        <div class="image" style="padding-top: 52.6316%;">
          <div data-img-type="bg" data-main data-src="~@glavnaya-1-blue-top-block-img/car.jpg" data-original-w="950" data-original-h="500"></div>
          <div data-img-type="bg-overlay" data-src="~@glavnaya-1-blue-top-block-img/car-overlay.svg"></div>
          <div class="loader loader--white">
            <div class="loader__circle"></div>
          </div>
        </div>
        <div class="glavnaya-1__first-part-circle-text-img-wrap">
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@glavnaya-1-blue-top-block-img/circle-text.svg", pt:100,}})%>
        </div>
      </div>
    </div>
    <div class="glavnaya-1__second-part" data-showed-on-scroll>
      <h1>Защитите ваш авто от сколов и царапин самостоятельно</h1>
      <div class="glavnaya-1__second-part-text">Brontero® — комплект плёнок для защиты уязвимых участков кузова. Полиуретан 180 мкм. Всё для монтажа + инструкция в комплекте.</div>
      <div class="glavnaya-1__second-part-marki-slider">
        <div class="swiper glavnaya-1__second-part-marki-slider-swiper wait-init-slider-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/nissan.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/hyundai.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/renault.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/kia.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/lada.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/volkswagen.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/haval.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="glavnaya-1__second-part-marki-slider-link-wrap">
                <a href="#">
                  <div class="glavnaya-1__second-part-marki-slider-img-wrap">
                    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-1-blue-top-block-img/geely.svg", pt:100,}})%>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="glavnaya-1__second-part-marki-slider-control-buttons">
          <button class="glavnaya-1__second-part-marki-slider-control-buttons-button-prev icon--arrow"></button>
          <button class="glavnaya-1__second-part-marki-slider-control-buttons-button-next icon--arrow"></button>
        </div>
      </div>
      <a href="#" class="button-main button-main--black button-main--not-minmax-width glavnaya-1__second-part-button">Выбрать автомобиль</a>
    </div>
    <div class="glavnaya-1__decor-vertical-line"></div>
  </div>
</div>