<%
let loader_html = null,
    original_w = null,
    original_h = null,
    style_pt = `style="padding-top:${data.pt}%;"`;

if(data.loader){
   loader_html = include('./../../blocks/loader/loader.ejs'); 
} 

if(data.ow){
    original_w = `data-original-w="${data.ow}"`; 
} 

if(data.oh){
    original_h = `data-original-h="${data.oh}"`;
} %>

<% if(data.type === "img"){ %>
<div class="image" <%-style_pt%>>
  <img data-img-type="img" data-src="<%-data.url%>" <%-original_w%> <%-original_h%> alt="">
  <%-loader_html%>
</div>
<% } %>

<% if(data.type === "bg"){ %>
<div class="image" <%-style_pt%>>
  <div data-img-type="bg" data-src="<%-data.url%>" <%-original_w%> <%-original_h%>></div>
  <%-loader_html%>
</div>
<% } %>