<div class="glavnaya-4" data-showed-on-scroll>
  <div class="standart-container">
    <h2>Полиуретановая плёнка Brontero® — невидимая защита кузова от сколов и царапин</h2>
  </div>
  <div class="glavnaya-4__wrap-slider">
    <div class="glavnaya-4__wrap-slider-swiper-wrap">
      <div class="swiper wait-init-slider-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hide-text-data">Незаметна с близкого расстояния</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/1.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">Прочна на растяжение и разрыв</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/2.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">Защищает уязвимые мест кузова: фар, части капота и крыши, крыльев, зеркал</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/3.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">Не изменяет световой поток фар</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/4.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 1</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/5.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 2</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/6.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 3</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/7.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 4</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@glavnaya-4-img-text-slider-img/8.jpg", pt:68.9655,}})%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="standart-container">
    <div class="glavnaya-4__toggler">
      <script>
        w.critical_scripts.set_slider_size_in_home_page(); /*скрипт задаёт высоту блокс с текстом для слайдов по высоте самого большого блока с текстом*/
      </script>
      <div class="glavnaya-4__toggler-text-wrap"></div>
    </div>
    <div class="glavnaya-4__control-buttons">
      <button class="glavnaya-4__control-buttons-button-prev icon--arrow-big"></button>
      <button class="glavnaya-4__control-buttons-button-next icon--arrow-big"></button>
    </div>
    <a href="#" class="glavnaya-4__link-button button-main">Подобрать комплект</a>
  </div>
</div>