<div class="dostavka-i-oplata">
  <div class="standart-container" data-showed-on-scroll>
    <h1>Доставка и оплата</h1>

    <div class="dostavka-i-oplata__razdel">
      <div class="dostavka-i-oplata__razdel-title" tabindex="0">
        <h2>Доставка</h2>
        <div class="dostavka-i-oplata__razdel-title-spoiler-toggle-icon icon--close set-min-interactive-size dostavka-i-oplata__razdel-title-spoiler-toggle-icon--open"></div>
      </div>
      <div class="dostavka-i-oplata__razdel-content-wrap">
        <div class="dostavka-i-oplata__razdel-content-wrap-content" style="opacity: 1;">
          <p>
            Доставка осуществляется службой СДЭК до пункта выдачи после оплаты с использованием карты. Сроки доставки рассчитываются службой СДЭК.
          </p>
        </div>
      </div>
    </div>

    <div class="dostavka-i-oplata__razdel">
      <div class="dostavka-i-oplata__razdel-title" tabindex="0">
        <h2>Оплата</h2>
        <div class="dostavka-i-oplata__razdel-title-spoiler-toggle-icon icon--close set-min-interactive-size"></div>
      </div>
      <div class="dostavka-i-oplata__razdel-content-wrap spoiler-hidden">
        <div class="dostavka-i-oplata__razdel-content-wrap-content">
          <div class="dostavka-i-oplata__razdel-content-wrap-content-img-collect">
            <div>
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",url:"~@dostavka-i-oplata-img/cdek.jpg", pt:28.75,}})%>
            </div>
            <div>
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",url:"~@dostavka-i-oplata-img/cdek.jpg", pt:28.75,}})%>
            </div>
            <div>
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",url:"~@dostavka-i-oplata-img/cdek.jpg", pt:28.75,}})%>
            </div>
          </div>
          <p>К оплате принимаются карты VISA, MasterCard, МИР.
            Оплата банковскими картами осуществляется через сервис ЮKassa</p>
          <div class="dostavka-i-oplata__razdel-content-wrap-content-img-collect">
            <div>
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",url:"~@dostavka-i-oplata-img/cdek.jpg", pt:28.75,}})%>
            </div>
            <div>
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",url:"~@dostavka-i-oplata-img/cdek.jpg", pt:28.75,}})%>
            </div>
            <div>
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",url:"~@dostavka-i-oplata-img/cdek.jpg", pt:28.75,}})%>
            </div>
          </div>
          <p>К оплате принимаются карты VISA, MasterCard, МИР.
            Оплата банковскими картами осуществляется через сервис ЮKassa</p>
        </div>
      </div>
    </div>

    <div class="dostavka-i-oplata__razdel">
      <div class="dostavka-i-oplata__razdel-title" tabindex="0">
        <h2>Возврат товара</h2>
        <div class="dostavka-i-oplata__razdel-title-spoiler-toggle-icon icon--close set-min-interactive-size"></div>
      </div>
      <div class="dostavka-i-oplata__razdel-content-wrap spoiler-hidden">
        <div class="dostavka-i-oplata__razdel-content-wrap-content">
          <p>
            При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
          </p>
        </div>
      </div>
    </div>

    <div class="dostavka-i-oplata__razdel">
      <div class="dostavka-i-oplata__razdel-title" tabindex="0">
        <h2>Гарантии</h2>
        <div class="dostavka-i-oplata__razdel-title-spoiler-toggle-icon icon--close set-min-interactive-size"></div>
      </div>
      <div class="dostavka-i-oplata__razdel-content-wrap spoiler-hidden">
        <div class="dostavka-i-oplata__razdel-content-wrap-content">
          <p>
            При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
          </p>
          <p>
            При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
          </p>
        </div>
      </div>
    </div>

    <div class="dostavka-i-oplata__razdel">
      <div class="dostavka-i-oplata__razdel-title" tabindex="0">
        <h2>Реквизиты</h2>
        <div class="dostavka-i-oplata__razdel-title-spoiler-toggle-icon icon--close set-min-interactive-size"></div>
      </div>
      <div class="dostavka-i-oplata__razdel-content-wrap spoiler-hidden">
        <div class="dostavka-i-oplata__razdel-content-wrap-content">
          <p>
            При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
          </p>
        </div>
      </div>
    </div>

  </div>
</div>