<div class="instrukczii-2">
    <div class="standart-container" data-showed-on-scroll>
      <div class="instrukczii-2__wrap">
        <div class="instrukczii-2__wrap-playlist" data-common-instruction>
            <div class="instrukczii-2__wrap-playlist-title">Общие инструкции</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Geely" data-model="Geely model 1">
            <div class="instrukczii-2__wrap-playlist-title">marka Geely : model Geely model 1 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Geely" data-model="Geely model 2">
            <div class="instrukczii-2__wrap-playlist-title">marka Geely : model Geely model 2 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Geely" data-model="Geely model 3">
            <div class="instrukczii-2__wrap-playlist-title">marka Geely : model Geely model 3 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>

        <div class="instrukczii-2__wrap-playlist" data-marka="Haval" data-model="Haval model 1">
            <div class="instrukczii-2__wrap-playlist-title">marka Haval : model Haval model 1 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Haval" data-model="Haval model 2">
            <div class="instrukczii-2__wrap-playlist-title">marka Haval : model Haval model 2 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Haval" data-model="Haval model 3">
            <div class="instrukczii-2__wrap-playlist-title">marka Haval : model Haval model 3 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>

        <div class="instrukczii-2__wrap-playlist" data-marka="Hyundai" data-model="Hyundai model 1">
            <div class="instrukczii-2__wrap-playlist-title">marka Hyundai : model Hyundai model 1 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Hyundai" data-model="Hyundai model 2">
            <div class="instrukczii-2__wrap-playlist-title">marka Hyundai : model Hyundai model 2 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Hyundai" data-model="Hyundai model 3">
            <div class="instrukczii-2__wrap-playlist-title">marka Hyundai : model Hyundai model 3 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>

        <div class="instrukczii-2__wrap-playlist" data-marka="Kia" data-model="Kia model 1">
            <div class="instrukczii-2__wrap-playlist-title">marka Kia : model Kia model 1 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Kia" data-model="Kia model 2">
            <div class="instrukczii-2__wrap-playlist-title">marka Kia : model Kia model 2 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        <div class="instrukczii-2__wrap-playlist" data-marka="Kia" data-model="Kia model 3">
            <div class="instrukczii-2__wrap-playlist-title">marka Kia : model Kia model 3 поколение рестайлинг (2017 — н.в.)</div>
            <div class="instrukczii-2__wrap-playlist-video">
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
                <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
            </div>
        </div>
        
      </div>
    </div>
  </div>