<div class="otzivi">
  <div class="swiper wait-init-slider-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="otzivi__otziv-wrap">
          <div class="otzivi__otziv-wrap-img-wrap">
            <div class="otzivi__otziv-wrap-img-wrap-image">
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", loader:true, url:"~@otzivi-img/6.jpg", pt:100,}})%>
            </div>
          </div>
          <div class="otzivi__otziv-wrap-content-wrap">
            <div class="otzivi__otziv-wrap-content-wrap-rating">
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="otzivi__otziv-wrap-content-wrap-rating-disabled icon--star-s-zalivkoy"></span>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-text">
              <div class="otzivi__otziv-wrap-content-wrap-text-wrap custom-scrollbar">
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-plus icon--plusik"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-positive">Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить</div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-minus icon--minus"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-negative">Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил </div>
              </div>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-user-info">Геннадий, г. Ярославль, ВАЗ 2110 2002</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="otzivi__otziv-wrap">
          <div class="otzivi__otziv-wrap-img-wrap">
            <div class="otzivi__otziv-wrap-img-wrap-image">
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", loader:true, url:"~@otzivi-img/5.jpg", pt:100,}})%>
            </div>
          </div>
          <div class="otzivi__otziv-wrap-content-wrap">
            <div class="otzivi__otziv-wrap-content-wrap-rating">
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="otzivi__otziv-wrap-content-wrap-rating-disabled icon--star-s-zalivkoy"></span>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-text">
              <div class="otzivi__otziv-wrap-content-wrap-text-wrap custom-scrollbar">
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-plus icon--plusik"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-positive">Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить</div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-minus icon--minus"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-negative">Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил </div>
              </div>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-user-info">Геннадий, г. Ярославль, ВАЗ 2110 2002</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="otzivi__otziv-wrap">
          <div class="otzivi__otziv-wrap-img-wrap">
            <div class="otzivi__otziv-wrap-img-wrap-image">
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", loader:true, url:"~@otzivi-img/4.jpg", pt:100,}})%>
            </div>
          </div>
          <div class="otzivi__otziv-wrap-content-wrap">
            <div class="otzivi__otziv-wrap-content-wrap-rating">
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="otzivi__otziv-wrap-content-wrap-rating-disabled icon--star-s-zalivkoy"></span>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-text">
              <div class="otzivi__otziv-wrap-content-wrap-text-wrap custom-scrollbar">
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-plus icon--plusik"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-positive">Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить</div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-minus icon--minus"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-negative">Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил </div>
              </div>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-user-info">Геннадий, г. Ярославль, ВАЗ 2110 2002</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="otzivi__otziv-wrap">
          <div class="otzivi__otziv-wrap-img-wrap">
            <div class="otzivi__otziv-wrap-img-wrap-image">
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", loader:true, url:"~@otzivi-img/3.jpg", pt:100,}})%>
            </div>
          </div>
          <div class="otzivi__otziv-wrap-content-wrap">
            <div class="otzivi__otziv-wrap-content-wrap-rating">
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="otzivi__otziv-wrap-content-wrap-rating-disabled icon--star-s-zalivkoy"></span>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-text">
              <div class="otzivi__otziv-wrap-content-wrap-text-wrap custom-scrollbar">
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-plus icon--plusik"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-positive">Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить</div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-minus icon--minus"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-negative">Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил </div>
              </div>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-user-info">Геннадий, г. Ярославль, ВАЗ 2110 2002</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="otzivi__otziv-wrap">
          <div class="otzivi__otziv-wrap-img-wrap">
            <div class="otzivi__otziv-wrap-img-wrap-image">
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", loader:true, url:"~@otzivi-img/2.jpg", pt:100,}})%>
            </div>
          </div>
          <div class="otzivi__otziv-wrap-content-wrap">
            <div class="otzivi__otziv-wrap-content-wrap-rating">
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="otzivi__otziv-wrap-content-wrap-rating-disabled icon--star-s-zalivkoy"></span>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-text">
              <div class="otzivi__otziv-wrap-content-wrap-text-wrap custom-scrollbar">
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-plus icon--plusik"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-positive">Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить</div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-minus icon--minus"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-negative">Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил </div>
              </div>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-user-info">Геннадий, г. Ярославль, ВАЗ 2110 2002</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="otzivi__otziv-wrap">
          <div class="otzivi__otziv-wrap-img-wrap">
            <div class="otzivi__otziv-wrap-img-wrap-image">
              <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", loader:true, url:"~@otzivi-img/1.jpg", pt:100,}})%>
            </div>
          </div>
          <div class="otzivi__otziv-wrap-content-wrap">
            <div class="otzivi__otziv-wrap-content-wrap-rating">
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="icon--star-s-zalivkoy"></span>
              <span class="otzivi__otziv-wrap-content-wrap-rating-disabled icon--star-s-zalivkoy"></span>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-text">
              <div class="otzivi__otziv-wrap-content-wrap-text-wrap custom-scrollbar">
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-plus icon--plusik"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-positive">Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить. Плёнка незаметна на кузове, легко наклеить</div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-minus icon--minus"></div>
                <div class="otzivi__otziv-wrap-content-wrap-text-wrap-negative">Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил Не обнаружил </div>
              </div>
            </div>
            <div class="otzivi__otziv-wrap-content-wrap-user-info">Геннадий, г. Ярославль, ВАЗ 2110 2002</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="standart-container otzivi__arrows-and-link">
  <div class="otzivi__control-buttons">
    <button class="otzivi__control-buttons-button-prev icon--arrow-big"></button>
    <button class="otzivi__control-buttons-button-next icon--arrow-big"></button>
  </div>
  <div class="otzivi__give-feedback-link-wrap">
    <a href="#">Оставить отзыв</a>
  </div>
</div>