<div class="glavnaya-8 dark-block">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Установите самостоятельно или обратитесь<br> к профи <span class="h2-not-bold"> — партнёрам Brontero® в вашем городе</span></h2>
    <div class="glavnaya-8__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-8__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-8__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-8__video-block">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-8__buttons">
      <a href="#" class="button-main button-main--white glavnaya-8__buttons-item">Видеоинструкции</a>
      <%- include('./../../blocks/partners-button/partners-button.ejs', {data:{class:"glavnaya-8__buttons-item",}})%>
    </div>
  </div>
</div>