<div class="slider-full-width-page" data-showed-on-scroll>
  <div class="slider-full-width-page__wrap-slider">
    <div class="slider-full-width-page__wrap-slider-swiper-wrap">
      <div class="swiper wait-init-slider-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hide-text-data">Незаметна с близкого расстояния</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/1.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">Прочна на растяжение и разрыв</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/2.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">Защищает уязвимые мест кузова: фар, части капота и крыши, крыльев, зеркал</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/3.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">Не изменяет световой поток фар</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/4.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 1</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/5.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 2</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/6.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 3</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/7.jpg", pt:68.9655,}})%>
          </div>
          <div class="swiper-slide">
            <div class="hide-text-data">тестовая 4</div>
            <%- include('./../../blocks/images/images.ejs', {data:{type: "img-swiper-loop", loader:true, url:"~@slider-full-width-page-img/8.jpg", pt:68.9655,}})%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="standart-container">
    <div class="slider-full-width-page__toggler">
      <script>
        w.critical_scripts.slider_full_width_page_set_size(); /*скрипт задаёт высоту блокс с текстом для слайдов по высоте самого большого блока с текстом*/
      </script>
      <div class="slider-full-width-page__toggler-text-wrap"></div>
    </div>
    <div class="slider-full-width-page__control-buttons">
      <button class="slider-full-width-page__control-buttons-button-prev icon--arrow-big"></button>
      <button class="slider-full-width-page__control-buttons-button-next icon--arrow-big"></button>
    </div>
  </div>
</div>